:host {
  display: block;
  height: 90%;
}

.search {
  margin: 20px 0;
  height: 30px
}

.movies {
  height: calc(100% - 70px);
}

.error {
  text-align: center;
  color: red;
  font-weight: bold;
  font-size: 1.5em;
}