$container_height: 10%;
$container_color: purple;

:host {
  display: block;
  position: relative;
  height: $container_height;
  background-color: $container_color
}

.btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.back-btn {
  left: 5%;
  padding: 5px;
}

.api-hyperlink {
  right: 5%;
  color: white;

  &:hover {
    font-weight: bold;
  }
}

.title {
  height: 100%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: white;
  font-family: 'Roboto';
}

